.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3 rem;
  background: #fff;
  display: flex;
  border-top: 1px solid #e0e0e0;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #294898;
  font-size: 1 rem;
  padding: 6px 0;
}

.nav-item img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2px;
}